* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

p,
span {
    color: #8c8c8c;
    padding: 0;
    margin: 0
}

body {
    min-height: 100vh;
    color: #8c8c8c;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300
}

body i,
body svg {
    color: #fff !important
}

.btn {
    background-color: #c90 !important;
    border-radius: 5px;
    padding: 10px 20px !important;
    display: flex;
    color: #fff !important;
    text-transform: uppercase
}

.text-main {
    color: #c90 !important
}

#sidebar .sb-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}

#sidebar .sb-menu .sb-item {
    width: 100%
}

#sidebar .sb-menu .sb-item a {
    display: block;
    width: 100% !important;
    padding: 20px 30px;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    transition: 0.3s all ease
}

#sidebar .sb-menu .sb-item a:hover {
    background-color: #cc6;
    color: #fff !important
}

#sidebar .sb-menu .sb-item .active {
    background-color: #c90 !important;
    color: #fff !important
}

#nav {
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #b3b3b3
}

#nav .nav-brand {
    text-decoration: none;
    color: #c90;
    display: block;
    font-size: 2.6rem;
    font-weight: 400;
    transition: all 0.3s ease
}

#nav .nav-brand:hover {
    color: #014C8C
}

#nav .nav-menu {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none !important
}

#nav .nav-menu .nav-item {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center
}

#nav .nav-menu .nav-item a {
    text-decoration: none;
    color: #000;
    padding: 15px 30px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    font-size: 1.2rem
}

#nav .nav-menu .nav-item a::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #c90;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: all 0.3s ease
}

#nav .nav-menu .nav-item a:hover:not(.active)::before {
    bottom: 4px
}

#nav .nav-menu .nav-item .active {
    background-color: #c90 !important;
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    color: #fff !important
}

#nav .btn-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    aspect-ratio: 1 / 1;
    background-color: #fff !important;
    border: 1px solid #c90
}

#nav .btn-sidebar svg {
    color: #c90 !important
}

main {
    overflow-x: hidden
}

main .banner {
    width: 100vw;
    aspect-ratio: 1440 / 463
}

main .banner img {
    width: 100%;
    height: auto;
    object-fit: cover
}

main .s-intro {
    width: 100%
}

main .s-intro h2 {
    font-size: 2rem;
    color: #c90;
    text-align: center
}

main .s-intro p {
    text-align: center
}

main .s-intro p span {
    font-size: 1.2rem;
    max-width: 800px
}

main .s-blog .blog-card .box-img {
    width: 100%;
    aspect-ratio: 31 / 18;
    overflow: hidden
}

main .s-blog .blog-card .box-img img {
    width: 100%;
    height: auto;
    object-fit: cover
}

main .s-blog .blog-card h4 {
    color: #c90;
    font-size: 1.2rem;
    margin: 10px 0
}

main .s-blog .blog-card p {
    font-size: 17px
}

main .s-post {
    width: 100%
}

main .s-post h3 {
    font-size: 1.6rem;
    color: #c90;
    padding: 0
}

main .s-post p {
    font-size: 17px
}

main .s-post .s-post-links a {
    width: 100%;
    display: block;
    font-size: 17px;
    margin: 10px 0
}

footer {
    min-height: 200px;
    height: max-content;
    background-image: url("../images/footer-cover.png")
}

footer h3 {
    font-size: 1.6rem;
    color: #c90;
    padding: 0
}

footer .footer-quote {
    padding: 30px 20px;
    background-color: #8c8c8c;
    color: #000
}

footer .footer-links a {
    width: 100%;
    display: block;
    font-size: 17px;
    margin: 10px 0;
    color: #cc6
}

footer hr {
    color: #8c8c8c;
    border: 1px solid #8c8c8c !important
}

footer .btn {
    background-color: #8c8c8c !important
}